@import "tailwindcss";

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.animate-gradient-x {
  background-size: 200% auto;
  animation: gradient-x 3s ease infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate-shimmer {
  animation: shimmer 2s infinite;
}

.animated-border {
  position: relative;
  padding: 4px;
  border-radius: 16px;
  overflow: hidden;
}

/* rotating gradient rectangle */
.animated-border::before {
  content: "";
  position: absolute;
  inset: -40%;
  background: linear-gradient(0deg, #facc15, #7c3aed, #ff4ecd, #00f5ff);
  animation: rotateBorder 5s linear infinite;
}

.animated-border:hover::before {
  animation-play-state: paused;
}


/* glow layer */
.animated-border::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(255, 78, 205, 0.45),
    0 0 35px rgba(139, 92, 246, 0.35),  0 0 45px rgba(250, 204, 21, 0.25);

  z-index: 1;
  pointer-events: none;
 
}

@keyframes rotateBorder {
  to {
    transform: rotate(360deg);
  }
}

/* inner content */
.animated-border-inner {
  position: relative;
  z-index: 2;
  background: #111a2e;
  border-radius: 14px;
  padding: 18px;
  display: flex;
  gap: 12px;
  color: #cbd5f5;
}

/* icon */
.icon {
  color: #34d399;
  font-size: 1.25rem;
  margin-top: 2px;
}

.animated-border-inner span {
  color: #ffffff;
}

 
.animated-card {
  position: relative;
  border-radius: 16px;
}

/* animated border */
.animated-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: 16px;

  background: linear-gradient(
    90deg,
    #facc15,
    #a855f7,
    #22d3ee,
    #facc15
  );

  background-size: 300% 300%;
  animation: borderSpin 5s linear infinite;

  /* border only mask */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;

  pointer-events: none;
  z-index: 0;
}

/* glow */
.animated-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  box-shadow:
    0 0 20px rgba(168, 85, 247, 0.35),
    0 0 35px rgba(236, 72, 153, 0.25);
  opacity: 0.5;
  pointer-events: none;
  z-index: 0;
}

/* content layer */
.animated-card > * {
  position: relative;
  z-index: 1;
}

@keyframes borderSpin {
  to {
    background-position: 200% 200%;
  }
}

