@import "tailwindcss";

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.animate-gradient-x {
  background-size: 200% auto;
  animation: gradient-x 3s ease infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animate-shimmer {
  animation: shimmer 2s infinite;
}

.animated-border {
  position: relative;
  padding: 2px;
  border-radius: 16px;
  overflow: hidden;
}

/* rotating gradient rectangle */
.animated-border::before {
  content: "";
  position: absolute;
  inset: -50%;
  background: linear-gradient(0deg, #00f5ff, #7c3aed, #ff4ecd, #00f5ff);
  animation: rotateBorder 6s linear infinite;
}

/* glow layer */
.animated-border::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  box-shadow: 0 0 25px rgba(255, 78, 205, 0.45),
    0 0 35px rgba(139, 92, 246, 0.35),  0 0 45px rgba(250, 204, 21, 0.25);

  z-index: 1;
  pointer-events: none;
}

@keyframes rotateBorder {
  to {
    transform: rotate(360deg);
  }
}

/* inner content */
.animated-border-inner {
  position: relative;
  z-index: 2;
  background: #111a2e;
  border-radius: 14px;
  padding: 18px;
  display: flex;
  gap: 12px;
  color: #cbd5f5;
}

/* icon */
.icon {
  color: #34d399;
  font-size: 1.25rem;
  margin-top: 2px;
}

.animated-border-inner span {
  color: #ffffff;
}
